.sec-1{
    
    
    
    h2{
        font-size: 20px !important;
      
    }
    p{
        font-size: 10px !important;
    }
   a{
    font-size: 10px !important;
    }
    .feature-icon{
        width: 40px !important;
    }

    
}

.divider{
    width: 100%;
    height: 20px;
    background: rgb(168,168,179);
    background: linear-gradient(11deg, rgba(168,168,179,1) 0%, rgba(113,113,119,1) 25%, rgba(108,108,119,1) 72%, rgba(255,255,255,1) 99%);
}

.sec-2{
    h2{
        font-size: 20px !important;
      
    }
    p{
        font-size: 10px !important;
    }
    a{
        font-size: 9px !important;
    }
}
.sec-3{
    h2{
        font-size: 20px !important;
    }
   .card-cover{
      
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
   }

   li{
       font-size: 8px !important;
   }
}

.sec-4{

    h2{
        font-size: 17px !important;
      
    }
    p{
        font-size: 9px !important;
    }
}

